body {
  font-family: 'Calibri', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS',
    sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

/* form div {
  margin: 1em;
  width: 30%;
} */

#main-header {
  top: 25%;
  width: 100%;
  padding-left: 4rem;
  padding-top: 1rem;
}

#menu {
  margin-top: 0rem;
}

#subheader {
  padding-left: 0.9rem;
}

.footer {
  position: fixed !important;
  left: 0 !important;
  bottom: 0 !important;
}

.lonely-header {
  padding-top: 12rem !important;
}

.semi-lonely-header {
  padding-top: 4rem !important;
}

.radio {
  margin-top: 0.5rem;
  margin-left: 2.1rem;
  margin-right: 2.1rem;
}

.spaced {
  margin-right: 5rem;
}

.button-header {
  text-decoration: underline;
}

.gray {
  color: gray;
}
